<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tripshufflr</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/styles.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="tophalf">
  	<div id="logo"></div>
  	<div id="top-desc">We plan your trips so you don&rsquo;t have to.</div>
  	<div id="search">
      <form method="post">
  		<input type="text" id="main-search" name="main-search" placeholder="Where do you want to go?"><button id="search-button">shuffle!</button>
      </form>
      {{error}}
  	</div>
    <!--
  	<div id="curcheck"><input type="checkbox" name="curloc" value="curloc" id="curloc"><label for="curloc">Use current location</label></div>
    !-->

  </div>
</body>
</html>