<html>
<head>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
<title>
	tripShufflr
</title>
</head>
<body>


<form method = "get">
  <select name="typestring">
    <option value="default"> randomize </option>
    <option value="food"> Food! nom</option>
    <option value="adult"> Adult ;) </option>
    <option value="shopping">Shopping! </option>
    <option value="feminine">Women </option>
  </select>
	<label for="location">Location: </label>
	<input type="text" id="location" name="location">
  <input type="submit" value="Search!"><br>
</form><br>

<div> URL Call: {{url}} </div>
<div> Radius: {{radius}} </div>
<!-- 	<div id="coords">{{coords}}</div>
  <h1> Autocomplete Search </h1>
  {% for place in places %}
	<div id="places">{{place['description']}}</div>
  {% endfor %} -->

  <h1> Nearby Search </h1>
  {% for nearbyPlace in nearbyPlaces %}
  <div><img src="{{nearbyPlace['icon']}}"></div>
  <div>{{nearbyPlace['name']}} near {{nearbyPlace['vicinity']}}</div>
  <div>Rating: <b> {{nearbyPlace['rating']}} </b></div>
  <div>Types: <i> {{nearbyPlace['types']}} </i></div>

  {% endfor %}

  <h1> Text Search </h1>
  {% for textPlace in textPlaces %}
  <div>{{textPlace['name']}} in the vicinity of {{textPlace['formatted_address']}}</div>
  <!-- <div>{{textPlace}}</div> -->
  {% endfor %}

  <h1> Radar Search </h1>
  <!-- {% for place in places %}
  <div>{{place}}</div>
  {% endfor %} -->
  {{places}}
	
</body>
</html>